body{
    font-size: var(--font-size);
}
:root{
    --font-size: 20px;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
}

.flex-inputs{
    display: flex;
    gap: 25px;
}
#list-of-to-dos{
    text-align: center;
}
#addTask:hover {
    transform: scale(1.1);
}
#addProject:hover{
    transform: scale(1.1);
}
#addTask, #addProject{
    position: relative;
    height: 40px;
    align-self: center;
    text-align: start;
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid black;
    font-size: clamp(1rem, 4vw, 1.2rem);
    transition: transform 0.4s ease;
    margin-top: 5px;
}

#newTaskContainer{
    border-radius: 10px;
    border: 1px solid black;
}
#dueDate{
    position: relative;
    padding-bottom: 2px;
    width: 100px;
}
#inputName{
    margin: 20px;
}
#inputDescription{
    margin: 20px;
}
#newTask{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px 15px;
}

#taskSubmitBtn, #cancel{
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    width: clamp(120px, 20vw, 150px);
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    font-weight: 400;
}

#list-of-to-dos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task-btn-modal{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.task {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 10px;
    border: 1px solid hsla(0, 0%, 0%, 0.313);
    border-radius: 5px;
}
.task:has(.completed:checked) {
    text-decoration: line-through;
}
#inbox, .project{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.313);
    outline: none;
}
.delete-btn, .update-btn{
    height: 35px;
}
